<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="main bg-zinc-800 max-w-[100%] min-h-screen text-white p-10">

        <div class="detail-box md:w-[25%] w-[50%] bg-zinc-900 p-5">
            <a href="/" class="text-blue-600">Go back to Home</a>
            <h1 class="text-[18px] font-bold mt-2"><%= filename%></h1>
            <p class="text-blue-200"><%= filedata %></div>
            </p> </div>
</body>
</html>